<h1>Projects started:</h1>
<h2><%= @projects.length %></h2>

<h1>Projects funded:</h1>
<h2><%= @projects_funded.length %></h2>

<h1>Total Pledges:</h1>
<h2><%= @total_ammount_pledged %> $</h2>


<%= link_to 'See Projects', projects_path %>
