// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body, .project {
  text-align: center;
}
small {
  margin: .5em;
}

.project {
  margin: 1rem 0;
  padding: 1rem 0;
  background-color: #f9f9f9;
}
.project, img {
  width: 400px;
  display: inline-block;
}

.project-image > img {
  margin: auto;
}

.project-link {
  display: block;
  text-decoration: none;
  color: cadetblue;
}

.project-title {
  margin-bottom: 0;
}

.project-days-left {
  font-size: 0.75em;
}

.reward-box, .update-box, .comment-box {
  border: 1px solid black;
  display: inline-block;
  min-width: 250px;
  margin: .5em auto;
  border-radius: 10px;
}

// Site header
.site-stat  {
  display: inline-block;
  border-left: 1px solid #666;
  padding: 0 1em;
}
.logo,
.home-btns,
.user-links {
  display: inline-block;
}

.top-header,
.mid-header,
.low-header {
  display: flex;
  justify-content: space-between;
  align-items: center
}